
.Form {
  margin-left: 30px;
  margin-right: 50px;
  padding: 30px 30px 30px 30px;
  border: solid 1px;
}

.Long-textbox {
  width: 200px;
}

.Sections {
  border: solid 1px;
  padding: 5px 5px 5px 5px
}

.Section {
  border: solid 1px;
  padding: 5px 5px 5px 5px
}

a.hand {
    cursor: pointer;
}

.space-under {
  margin-bottom: 15px;
}

.history {
  margin-left: 15px;
}

label {
  white-space: normal;
}

.card-header {
  white-space: normal;
}

.card-text {
  white-space: normal;
}

input[type=file].form-control {
    height: auto;
}
